extends layout

block content
        script(src="//code.jquery.com/jquery-1.11.3.min.js")
        p Total personas detectades:
            span(id="totalcaras", style="font-weight:bold") !{ faces || '0'}
        img(src="face-detection.png", style="width:50%")

        - for (var i=0; i<faces; i++)
            p(id="face"+i, class="face", style="border:1px solid #cccccc; padding: 5px")
                img(src="./faces/face"+i+".jpg")