extends layout

block content
        script(src="//code.jquery.com/jquery-1.11.3.min.js")
        p Total personas detectades:
            span(id="totalcaras", style="font-weight:bold") !{ faces || '0'}
        img(src="face-detection.png", style="width:50%")

        - for (var i=0; i<faces; i++)
            p(id="face"+i, class="face", style="border:1px solid #cccccc; padding: 5px")
                img(src="./faces/face"+i+".jpg")
                p Gender:
                    span(class="face"+i+"gender")
                p Glasses:
                    span(class="face"+i+"glass")
                p Race:
                    span(class="face"+i+"race")
                p Age:
                    span(class="face"+i+"age")

        script.
            $(document).ready(function(){
                   $(".face").click(function(){
                            $.get("http://apius.faceplusplus.com/v2/detection/detect?api_key=f0f939e1b74f86fc2cf035ab325c99f4&api_secret=5-5aeBoF5cocGQ_xmH36PvjYS0_kfjbR&url=http://pictur.io/faces/"+$(this).attr('id')+".jpg&attribute=glass,gender,age,race", function( data ) {
                                $(".face"+$(this).attr('id')+"gender").html(data.face[0].attribute.gender.value);
                                $(".face"+$(this).attr('id')+"glass").html(data.face[0].attribute.glass.value);
                                $(".face"+$(this).attr('id')+"race").html(data.face[0].attribute.race.value);
                                $(".face"+$(this).attr('id')+"age").html(data.face[0].attribute.age.value);
                            });
                        });
                });