extends layout

block content
        p Total personas detectades: !{ faces || '0'}
        img(src="face-detection.png", style="width:50%")

        - for (var i=0; i<faces; i++)
            p(id="face"+i, style="border:1px solid #cccccc; padding: 5px")
                img(src="./faces/face"+i+".jpg")
                span(class="face"+i+"gender")
                span(class="face"+i+"glass")
                span(class="face"+i+"race")
                span(class="face"+i+"age")
        script(src="//code.jquery.com/jquery-1.11.3.min.js")
        script.
            $(document).ready(function(){
                    for(i=0; i<faces; i++) {
                        $.get("http://apius.faceplusplus.com/v2/detection/detect?api_key=f0f939e1b74f86fc2cf035ab325c99f4&api_secret=5-5aeBoF5cocGQ_xmH36PvjYS0_kfjbR&url=http://pictur.io/faces/face"++".jpg&attribute=glass,gender,age,race", function( data ) {
                                $("face"+i+"gender").html(data.face.attribute.gender.value);
                                $("face"+i+"glass").html(data.face.attribute.glass.value);
                                $("face"+i+"race").html(data.face.attribute.race.value);
                                $("face"+i+"age").html(data.face.attribute.age.value);
                            });
                    }
                });
